Source: ros-rolling-robotraconteur-companion
Section: misc
Priority: optional
Maintainer: John Wason <wason@wasontech.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libeigen3-dev, libgtest-dev <!nocheck>, libopencv-dev <!nocheck>, libyaml-cpp-dev, ros-rolling-robotraconteur, ros-rolling-ros-workspace
Homepage: http://robotraconteur.com
Standards-Version: 3.9.2

Package: ros-rolling-robotraconteur-companion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-atomic1.83.0, libboost-chrono1.83.0, libboost-date-time1.83.0, libboost-filesystem1.83.0, libboost-program-options1.83.0, libboost-random1.83.0, libboost-regex1.83.0, libboost-system1.83.0, libboost-thread1.83.0, libyaml-cpp-dev, ros-rolling-ros-workspace
Description: Robot Raconteur Companion library for C++
